/*Gera Jahja:IN1010: Web Development Coursework 2: Database-Driven Web Application*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
header{
	background: #000000;
	color: #000000;
	padding-top: 10px;
	min-height: 50px;
	border-bottom:#000000;
}
header a{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header nav{
	 float: left;
}
.topnav {
 overflow: hidden;
}
.topnav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 16px;
}
.topnav a:hover {
 background-color: #ddd;
 color: black;
}
.topnav .icon {
 display: none;
}

header .current a{
	font-family: 'Open Sans', sans-serif;
	color: darkslategrey;
	font-weight: bold;
}
header a:hover{
	font-family: 'Open Sans', sans-serif;
	color: #cccccc;
	font-weight: bold;
}
#showcase {
	min-height: 400px;
	background:url('headerbg.jpg') no-repeat center; /*image from: https://ak3.picdn.net/shutterstock/videos/1034379173/thumb/1.jpg */
	background-size: cover;
	text-align: center;
	color: #ffffff;
}
#showcase h1{
	font-family: 'Open Sans', sans-serif;
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
#showcase p{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
body{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #fff;
}

h1{
    font-weight: 600;
    margin: 0px;
    padding: 20px;
    font-size: 32px;
    background-color: #171219;
    color: #ffffff;
}

.question{
  font-size: 24px;
  color: ##00008b ;
  margin-bottom: 8px;
}

.answers {
  margin-bottom: 18px;
  color: ##00008b ;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  color: ##00008b ;
  margin-bottom: 10px;
}

button{
  font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	background-color: #225560;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 18px;
}
button:hover{
	background-color: #EDF060;
}


.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 320px;
  margin-top: 50px;
}
.login-box{
	max-width:700px;
	float:none;
	margin:150px auto;
	
}
.log-in{
	background:rgba(211,211,211,0.5);
	padding:30px;
}
.sign-up{
	background: #fff;
	padding:30px;
	
}
body {
  padding: 0px;
  margin: 0px;
}
.header{
  background-color: #1A3333;
  color: white;
  text-align: center;
  top: 0px;
  width: 100%;
  padding: 5px;
}
form{
  width: 40%;
  padding: 30px;
  border: 1px solid #cbcbcb;
  margin: 5px auto;
}
.textField{
  margin-top: 2px;
  height: 28px;
  border: 1px solid #5E6E66;
  font-size: 16px;
  padding: 1px;
  width: 100%;
}
#error_msg{
  width:50%;
  margin: 5px auto;
  height: 30px;
  border: 1px solid #FF0000;
  background: #FFB988;
  color: #FF0000;
  text-align:  center;
  padding-top: 10px;
}
td{
  text-align: right;
}


footer{
	background: #000000;
	color: #000000;
	padding-top: 10px;
	min-height: 50px;
	border-bottom:#000000;
}
footer p{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}